*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.background{

    background: -webkit-linear-gradient(to left, #a426e3, #020202);
    background: -o-linear-gradient(to left, #a426e3, #020202);
    background: -moz-linear-gradient(to left, #a426e3, #020202);
    background: linear-gradient(to left, #a426e3, #020202);  
}

.cadastrar-se-LP-btn{
    font-size: 15px;
    border: none;
    border-radius: 50px;
    color:#fff;
        
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.cadastrar-se-LP-btn:hover{
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    font-weight: 600;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}